<div class="dialogs_container">
    <!--<div *ngFor = 'let current_dialog of dialogs'>
        <div class="dialog_card">
            <div class="dialog_header">
                <img src = 'img' alt="avatar"/>
                <div class="dialog_username">uname</div>
                <div class="dialog_time">time</div>
            </div>
            <div class="dialog_data">data</div>
        </div>
    </div>-->
    <div class="dialog_card">
        <img src = 'img' alt="avatar"/>
        <div class="dialog_info">
            <div class="dialog_username">uname</div>
            <div class="last_message_info">
                <img src="sender_avatar" alt="avatar">
                <div class="dialog_data">data</div>
            </div>
        </div>
    </div>
    <div class="dialog_card">
        <img src = 'img' class="dialog_avatar" alt="avatar"/>
        <div class="dialog_info">
            <div class="dialog_username">uname</div>
            <div class="last_message_info">
                <div class="dialog_data">data</div>
            </div>
        </div>
    </div>
</div>