<div class="dialogs_container">
    <div *ngFor = 'let current_dialog of dialogs' class="dialog_card" (click)="goToDialog('./dialog', current_dialog.id)">
        <img src="{{getDialogCompanionParam(current_dialog.first_user_id, current_dialog.second_user_id, 'avatar')}}" alt="avatar"/>
        <div class="dialog_info">
            <div class="dialog_username">{{getDialogCompanionParam(current_dialog.first_user_id, current_dialog.second_user_id, 'name')}}</div>
            <div class="last_message_info">
                <img src="{{getLastMessageUserParam(current_dialog.messages[current_dialog.messages.length-1], 'avatar')}}" alt="avatar">
                <div class="dialog_data">{{getLastMessageParam(current_dialog.messages[current_dialog.messages.length-1], 'data')}}</div>
            </div>
        </div>
    </div>    
</div>