<div class="login_container">
    <div class="authorization_header">Log in</div>
    <div class="authorization_inputs">
        <input [(ngModel)]="email" placeholder="e-mail">
        <input type="password" [(ngModel)]="password" placeholder="password" required pattern="[0-9]{3}"> 
        <div class="server_answer_container" hidden="{{(server_answer == '') ? true : false}}" id="{{(server_answer == 'correct') ? 'correct' : 'wrong'}}">{{server_answer}}</div>
        <button (click)="onLogIn()">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Log in
        </button>
    </div>
</div>