* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  background-image: linear-gradient(45deg, #ff005542, #000000, #0099ff71);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
body .scrollable {
  width: 80vw;
  height: 100vh;
  overflow-y: scroll;
}
body .scrollable .user_info_container {
  width: 100%;
  height: min(70vh, 70vw);
  background: #00000054;
  display: grid;
  grid-template-columns: 32% 15% 52%;
  grid-template-rows: repeat(5, 20%);
  padding: min(3vh, 3vw);
}
body .scrollable .user_info_container img {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 5;
  background: #fff;
  color: #000;
}
body .scrollable .user_info_container .user_data {
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(3vh, 3vw);
  text-shadow: 0px 0px 30px #0bffeb;
  padding: min(2vh, 2vw);
}
body .scrollable .user_info_container .user_data select {
  margin-left: min(2vw, 2vh);
  font-size: min(3vh, 3vw);
}
body .scrollable .user_info_container .user_data button {
  margin-left: min(2vw, 2vh);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000006e;
  border-radius: min(1vh, 1vw);
  color: #fff;
  font-size: min(3vh, 3vw);
}
body .scrollable .user_info_container .user_data button:hover {
  background-image: linear-gradient(135deg, #0cffd69a, #bd1cfd91);
  box-shadow: 0px 0px 2vh #ffffff8f;
}
body .scrollable .user_news {
  width: 100%;
  height: 100%;
  font-size: min(1.75vh, 1.75vw);
}
body .scrollable .user_news .news_card {
  margin: min(3vh, 3vw);
  width: 95%;
  height: auto;
  background: #0000004f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .scrollable .user_news .news_card .news_header {
  width: 100%;
  height: min(8vh, 8vw);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: min(0.3vh, 0.3vw) solid #ffffff63;
}
body .scrollable .user_news .news_card .news_header img {
  width: min(5vh, 5vw);
  height: min(5vh, 5vw);
  background: #000;
  border-radius: 100%;
}
body .scrollable .user_news .news_card .news_data {
  padding: min(3vh, 3vw);
}
body .sidebar {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
body .sidebar button {
  width: max(12vw, 9vh);
  height: min(10vw, 10vh);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000006e;
  border-radius: min(3vh, 3vw);
  color: #fff;
  font-size: min(3vh, 3vw);
}
body .sidebar button:hover {
  background-image: linear-gradient(135deg, #0cffd69a, #bd1cfd91);
  box-shadow: 0px 0px 2vh #ffffff8f;
}
.dialog {
  position: absolute;
  width: 10vw;
  height: 10vh;
  background: #000;
  background-image: linear-gradient(135deg, #0cffd69a, #bd1cfd91);
}
