<div class="friends_container">
   <!--<div *ngFor = 'let current_friend of friends'>
        <div id="current_friend.id" class="friend_card">
            <img src="current_friend.avatar" alt="avatar">
            <div>current_friend.name</div>
        </div>
    </div>-->
    <div id="current_friend.id" class="friend_card">
        <div class="friend_info">
            <img src="current_friend.avatar" alt="avatar">
            <div>current_friend.name</div>
        </div>
        <button>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            Write message
        </button>
    </div>
    <div id="current_friend.id" class="friend_card">
        <div class="friend_info">
            <img src="current_friend.avatar" alt="avatar">
            <div>current_friend.name</div>
        </div>
        <button>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            Write message
        </button>
    </div>
</div>