* 
{
    font-family: 'Press Start 2P';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body
{
    min-height: 100vh;
    background: linear-gradient(90deg, #395492,  #0099c0, #3dd5a8);
    display: flex; 
    align-items: center;
    justify-content: center;
}

.grid 
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: max-content;
    grid-column-gap: 40px;
    padding: 40px;
}

.play_field 
{
    width: 352px;
    height: 702px;
    border: 2px solid;
    background-color: rgba(1, 8, 89, 0.5);
    box-shadow: -15px 15px 20px #21265c;
}

.game_info_container
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.game_name
{
    margin-bottom: 50px;
    text-shadow: -3px 3px 3px #005266;
}

.game_info_row
{
    margin: 10px;
}

.play_button 
{

    background-color: #4caf50;
    box-shadow: -5px 5px 5px #005266;

    font-size: 16px;
    padding: 15px 30px;
    margin-bottom: 10px;
    cursor: pointer;
}