<!DOCTYPE html>
<html lang="eng">

<head>
    <title>Course work</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../public/styles/game.css">
</head>

<body>
    <div class="game_name">Pac-Man</div>
    <div class="grid">
        <div class="play_field_container">
            
            <canvas id="play_field"></canvas>
        </div>
        <div class="info_container">
            <div>Username: </div>
            <div>Level: </div>
            <div>Score: 0</div>
            <!--<button id="level_1">Level 1</button>
            <button id="level_2">Level 2</button>-->
            <button id="start">Start</button>
            <button id="next">Next</button>
        </div>
    </div>
    <!--<img id="source" src="../public/images/pac-man/pac_man_tiles/background2.png">-->
    <script type="module", src="../public/scripts/main.js">
        
    </script>
</body>

</html>