<!DOCTYPE html>
<html land="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/styles/game_over.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"/>
    <script type="module" src="../public/scripts/game_over.js"></script>

    <title>CW</title>
</head>

<body>
    <div class="game_over">
        <h1 class="game_over_text">Score table</h1>
        <div class="header">
            <div>№</div>
            <div>Username</div>
            <div>Level</div>
            <div>Score</div>
        </div>
        <div class="game_over_scrollable" id="table">
           
        </div>
    </div>
</body>
</html>