<dialog id = "add_book_dialog" class = "book_dialog">
    <form class="book_dialog_form">
        <div class="dialog_row">
            <label for="add_name" class="lable_text">Название:</label><br>
            <input type="text" id="add_name" class = "input_text">
        </div>
        <div class="dialog_row">
            <label for="add_author" class="lable_text">Автор:</label><br>
            <input type="text" id="add_author" class = "input_text">
        </div>
        <div class="dialog_row">
            <label for="add_date" class="lable_text">Дата:</label><br>
            <input type="text" id="add_date" class = "input_text">
        </div>
        <div class="dialog_row">
            <label for="add_genre" class="lable_text">Жанр:</label><br>
            <input type="text" id="add_genre" class = "input_text">
        </div>
        <div class="dialog_row">
            <label for="add_description" class="lable_text">Описание:</label><br>
            <input type="text" id="add_description" class = "input_text">
        </div>
    </form>
    <button id ="close_button" onclick="add_book()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Добавить
    </button>
</dialog>