<div class="signup_container">
    <div class="authorization_header">Sign up</div>
    <div class="authorization_inputs">
        <input [(ngModel)]="username" placeholder="username">
        <input [(ngModel)]="email" type="email" placeholder="e-mail" #Email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <input [(ngModel)]="birth" type="date">
        <input [(ngModel)]="password" type="password" placeholder="password"> 
        <div class="server_answer_container" hidden="{{(server_answer == '') ? true : false}}" id="{{(server_answer == 'success') ? 'correct' : 'wrong'}}">{{server_answer}}</div>
        <button (click)="onSignUp()" [disabled]="Email.invalid">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Sign up
        </button>
    </div>
</div>