<div class="news_container">
    <div class="input_container">
        <input class="news_input" #NewsInput placeholder="Anything new?">
        <button class="post_news_btn" (click)="createNews(NewsInput)">
            <i class="fa fa-share" aria-hidden="true"></i>
            post
        </button>
    </div>
    <div *ngFor = 'let current_news of news' class="news_card">
        <div class="news_header">
            <img src="{{getNewsOwnerParam(current_news.user_id, 'avatar')}}" alt="avatar"/>
            <div class="header_info">
                <div class="news_username">{{getNewsOwnerParam(current_news.user_id, 'name')}}</div>
                <div class="news_time">{{current_news.time_create}}</div>
            </div>
        </div>
        <div class="news_data">{{current_news.data}}</div>
    </div>
</div>