<div class="news_container">
    <!--<div *ngFor = 'let current_news of news'>
        <div class="news_card">
            <div class="news_header">
                <img src = 'img' alt="avatar"/>
                <div class="header_info">
                    <div class="news_username">uname</div>
                    <div class="news_time">time</div>
                </div>
            </div>
            <div class="news_data">data</div>
        </div>
    </div>-->
    <div class="news_card">
        <div class="news_header">
            <img src = 'img' alt="avatar"/>
            <div class="header_info">
                <div class="news_username">uname</div>
                <div class="news_time">time</div>
            </div>
        </div>
        <div class="news_data">data</div>
    </div>
    <div class="news_card">
        <div class="news_header">
            <img src = 'img' alt="avatar"/>
            <div class="header_info">
                <div class="news_username">uname</div>
                <div class="news_time">time</div>
            </div>
        </div>
        <div class="news_data">data</div>
    </div>
</div>