<div class="site_info_container">
    <img id="site_image" src="../public/site_image.png"/>
    <div id="site_name">Home Library</div>
</div>
<div class="user_info_container">
    <div id="user_image"></div>
    <div id="user_name">Username</div>
</div>